@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


.transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
}

.file{     background:f9fafb;  
    width: 100%; 
    padding: 20px;
    border-radius: 16px;
    border: 2px dashed #ddd;
    color: #000;}

    .file:hover{ border-color: #24c2f2;}